@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100&family=Rajdhani:wght@400;700&family=Ubuntu&display=swap');

.content table, td{
width:5%;
margin:0px;
border:1px solid transparent;
border-collapse:0px;
text-align:center;
font-size:28px;
table-layout:fixed;
background:#39042D;
opacity:0.2;
color:#E5ECE7;
margin-top:100px;
transform:translateY(5%);
height:0%;
font-family: 'Rajdhani', sans-serif;
padding-top:2px;
letter-spacing:2px;
padding-left:10px;
padding-right:0px;
font-weight:510;
  box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
td{
margin-top:100px;
padding-top:2px;
padding-left:-10px;
opacity:0.9;
width:-10%;
height:2%;
font-weight:800px;

}
table{
	opacity:1;
	height:10px;
}

}
.t-first{
	border-left:1px solid transparent;
	height:400px;
	position:absolute;
	left:50%;
	margin-left:-260px;
	top:0;
	opacity:0.6;
	margin-top:242px;
}
.t-second{
	border-left:2px solid transparent;
	height:400px;
	position:absolute;
	left:50%;
	margin-left:512px;
	top:0;
	opacity:0.65;
	margin-top:0px;
}
td a{
color: #F1B8A8;
text-decoration: none;
font-size:25px;
font-family: 'Bebas Neue', cursive;
letter-spacing:5px;
}

.content table, td h10{
	font-size:39px;
	border-bottom:2px solid white;
	color:#FCF4CA;
	font-family: 'Orbitron', sans-serif;
	margin-top:5px;
	letter-spacing:8px;
font-weight:500;
}
