@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100&family=Rajdhani:wght@400;700&family=Ubuntu&display=swap');

.content table, th, td{
width:80%;
margin:auto;
border:1px solid transparent;
border-collapse:collapse;
text-align:center;
font-size:20px;
table-layout:fixed;
background:transparent;
opacity:1;
color:#E5ECE7;
margin-top:-400px;
table-align:left;
transform:translateY(38%);
height:200%;
	font-family: 'Orbitron', sans-serif;
padding-top:22px;
letter-spacing:2px;
	max-height:100vh;
	height:200%;
	margin-left:410px;
}
th, td{
padding-top:22px;
padding-left:10px;
opacity:0.9;
width:5%;
height:200%;
	max-height:100vh;
	
}
table,th{
	background:transparent;
	color:#E5FAF7;
	opacity:1;
	height:200%;
	max-height:100vh;
	margin-left:90px;
}
.tabler tr{
	width:10%;
	height:200%;
}
.t-first{
	border-left:1px solid transparent;
	height:400px;
	position:absolute;
	left:50%;
	margin-left:-260px;
	top:0;
	opacity:0.6;
	margin-top:242px;
}
.t-second{
	border-left:2px solid transparent;
	height:400px;
	position:absolute;
	left:50%;
	margin-left:512px;
	top:0;
	opacity:0.65;
	margin-top:0px;
}


